:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --footer-color: rgba(47, 48, 58, 1);
    --common-white: #FFFFFF;
    --main-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --tittle-size: 36px;
    --tittle-text-size: 16px;
    --tittle-filter-size: 18px;
    --text-size: 14px;
}

* {
    box-sizing: border-box;
}

.body {
    font-family: var(--secondary-font);
    color: rgba(33, 33, 33, 1);
    margin: 0;
}

.header-list {
    display: flex;
    align-items: center;
    width: 1600px;
    height: 80px;
}

.logo-main {
    font-family: var(--main-font);
    font-size: 26px;
    margin: 25px 0px 25px 215px;
    /* margin-right: 90px; */
}

.logo1 {
    color: rgba(33, 150, 243, 1);
}

/* .logo2 { */
color: var(--common-white);
}

.navigation {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: var(--text-size);
    font-weight: 500;
    display: flex;
    text-decoration: none;
    margin-right: 300px;
}

.navigation-link {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: rgba(33, 150, 243, 1);
}

.navigation-list {
    display: flex;
    margin-top: 32px;
}

.navigation-item {
    margin-left: 50px;
}

.list {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: var(--primary-color)
}

.hat {
    width: 1600px;
    height: 600px;
    background-color: var(--footer-color);
    color: var(--common-white);
    font-family: var(--secondary-font);
    font-size: 44px;
    font-weight: 900;
    align-items: center;
    text-align: center;
}

.hat-btn {
    width: 200px;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);
    font-family: var(--secondary-font);
    font-size: var(--tittle-text-size);
    font-weight: 700;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 32px;
    display: flex;
    margin: 0px 700px 200px;
    border-radius: 4px;
}

.preference-section {
    width: 1600px;
    height: 101px;
    align-items: center;
    padding: 94px 215px;

}

.preference {
    font-family: var(--secondary-font);
    font-size: var(--text-size);
    font-weight: 700;
    display: flex;

}

.preference-list {
    margin-right: 30px;
    align-items: center;
}

.preference-text {
    width: 270px;
    height: 101px;
    font-weight: 400;
    color: var(--secondary-color);
}

.about {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: var(--tittle-size);
    font-weight: 700;
    padding: 94px 215px;
}

.team {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: var(--tittle-size);
    font-weight: 700;
    margin: 50px 215px 94px 215px;
}

.team-list {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: var(--tittle-text-size-size);
    font-weight: 500;
    margin-right: 30px;
}

.team-text {
    color: var(--secondary-color);
}

.footer {
    background-color: var(--footer-color);
    color: var(--common-white);
    font-family: var(--secondary-font);
    font-size: var(--text-size);
    font-weight: 500;


}

.address-link {
    text-decoration: none;
}

.contact-list:hover,
.contact-list:focus {
    color: rgba(33, 150, 243, 1);
}

.contact-list {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: var(--text-size);
    font-weight: 500;
    display: flex;
    text-decoration: none;
    margin-right: 50px;

}

.logo-footer {

    color: var(--common-white);
    font-family: var(--main-font);
    font-size: 26px;
}

.logo2 {
    color: var(--accent-color);
}